body { font-size: 16px; background-color: #FFFFFF; color: #2F312F; font-family: 'Source Sans Pro', sans-serif; }

.font-ropa, h1, h2, h3, h4, h5, h6, .navbar-nav { font-family: 'Ropa Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 2.25em; }

section h1, section h2, section h3, section h4, section h5, section h6, section p { text-align: center; }
section img { display: table; margin: 0 auto; }

.spacer1 { height: 40px; }

.spacer2 { height: 80px; }

.redblock { padding: 0 0 40px 0; background-color: #bd1111; }
.redblock h1, .redblock h2, .redblock h3, .redblock h4, .redblock h5, .redblock h6, .redblock p, .redblock li, .redblock a { color: #FFFFFF; }
.redblock h3 { padding-top: 40px; padding-bottom: 40px; font-size: 2.25em; }
.redblock li { display: block; list-style-type: none; margin-bottom: 7px; }
.redblock ul:first-child > li:before { content: "\e072"; font-family: 'Glyphicons Halflings'; font-size: 9px; float: left; margin-top: 5px; margin-left: -17px; }
.redblock ul ul { padding-left: 10px; }
.redblock ul ul > li:before { content: "\0b7"; font-size: 10px; float: left; margin-top: 5px; margin-left: -10px; }

header { padding-top: 20px; margin-bottom: 10px; }
header .inner { background-image: url("/img/header_24bit.png"); background-position: center 20px; background-size: contain; background-repeat: no-repeat; height: 445px; }
@media (max-width: 767px) { header .inner { background-position: center 90px; background-size: cover; height: 260px; } }
header .logo h1 { margin: 0; line-height: 0; }
@media (max-width: 767px) { header .logo img { display: table; margin: 0 auto; } }
header .slogan h2 { padding-top: 70px; font-size: 36px; text-transform: uppercase; hyphens: auto; color: #FFFFFF; width: 330px; }
@media (max-width: 767px) { header .slogan h2 { padding-top: 80px; display: block; margin: 0px auto; font-size: 2em; text-align: center; } }

section { padding: 10px 0; }

h2.sectiontitle { font-size: 2.25em; color: #bd1111; padding-bottom: 60px; text-align: center; background-image: url("/img/divider_rubin.png"); background-position: center bottom; background-repeat: no-repeat; margin-bottom: 20px; }

.navbar-nav { width: 100%; text-align: center; }
.navbar-nav a { color: #2F312F; }
.navbar-nav > li { font-size: 24px; text-transform: uppercase; float: none; display: inline-block; }
