@import "mi_mixins";

$color_white: #FFFFFF;
$color_black: #2F312F;
$color_red: #bd1111;
$color_light_grey: #E6E6E6;
$color_dark_grey:#555554;

$space1: 40px;

body {
  font-size: 16px;
  background-color: $color_white;
  color: $color_black;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  @include bp(mobile) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.font-ropa {
  font-family: 'Ropa Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-ropa;
  font-weight: normal;
}

h1 {
  font-size: emCalc(36);
}

a {
  color: $color_red;
  &:hover {
    color: lighten($color_red, 5%);
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -240px;
  visibility: hidden;
}

.fix {

}

.outer {
  .fix-area & {
    width:100%;
    left:0;
    right:0;
    position:fixed;
    background-color:#FFF;
    z-index:9999;
    height:180px;
    @include bp(mobile) {
      height:200px; // Nav wird 2-zeilig
    }
    @include bp(tablet) {
      height:200px; // Nav wird 2-zeilig
    }
  }
}

#header {
  position: relative;
  height: 520px;
  overflow: hidden;
  background-color:$color_white;
  @include bp(mobile) {
    height:250px;
  }
}

.mi-headerbild {
  top: 20px;
  left: 0;
  width: 100%;
  height: 440px;
  position: absolute;
  background-size: cover;
  background: url("/img/header_24bit.png") no-repeat 0 0;
  .fix-area & {
    @include hide_from_screen;
  }
  @include bp(mobile) {
    visibility: hidden;
    display:none;
  }
}

.mi-slogan {
  position: absolute;
  left: 308px;
  top: 180px;
  width: 330px;
  h2 {
    font-size: em(36);
    text-transform: uppercase;
    color: $color_white;
    hyphens: auto;
  }
  .fix-area & {
    @include hide_from_screen;
  }
  @include bp(mobile) {
    position:relative;
    padding:5px;
    top:0;
    left:0;
    width:100%;
    h2 {
      font-size: em(24);
      color: $color_black;
      hyphens: none;
      text-align: center;
      margin:0;
    }
  }
}

.mi-logo {
  position: absolute;
  left: 300px;
  h1 {
    margin: 0;
    line-height: 0;
  }
  @include bp(mobile) {
    position: static;
    img {
      display: table;
      margin: 0 auto;
    }
  }
  .fix-area & {
    @include bp(mobile) {
      position: fixed;
      img {
        display: table;
        margin: 0 auto;
      }
    }
    left:50%;
    margin-left:-137.5px
  }
}

.mi-nav {
  background-color:$color_white;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  position: absolute;
  // top: 460px;
  bottom:0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  .fix-area & {
    bottom:10px;
  }
  .navbar-nav {
    float: none;
    @extend .font-ropa;
    text-align: center;
    a {
      &:hover {
        //text-decoration: underline !important;
        //background-color:transparent !important;
      }
      color: $color_black;
    }
    & > li {
      font-size: em(24);
      @include bp(mobile) {
        font-size:em(20);
      }
      @include bp(tablet) {
        font-size:em(20);
      }
      text-transform: uppercase;
      float: none;
      display: inline-block;
    }
  }
}

section {
  margin: $space1 0 60px 0;
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
  img {
    display: table;
    margin: 0 auto;
  }
  h2 {
    font-size: em(36);
    color: $color_red;
    padding-bottom: 60px;
    text-align: center;
    background-image: url("/img/divider_rubin.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-bottom: $space1;
  }
  h4 {
    color: $color_red;
    font-size: em(24);
    text-transform: uppercase;
  }
}

.spacer1 {
  height: $space1;
}

.spacer2 {
  height: 80px;
}

.redblock {
  padding: 0 30px $space1 30px ;
  h1, h2, h3, h4, h5, h6, p, li, a {
    color: $color_white;
  }
  h3 {
    padding: $space1 0;
    font-size: em(32);
  }
  background-color: $color_red;
  li {
    display: block;
    list-style-type: none;
    margin-bottom: 7px;
  }
  ul:first-child > li:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 5px;
    margin-left: -17px;
  }
  ul ul {
    padding-left: 10px;
  }
  ul ul > li:before {
    content: "\0b7";
    font-size: 10px;
    float: left;
    margin-top: 5px;
    margin-left: -10px;
  }
}

.anwender {
  img {
    margin-bottom: $space1;
  }
  p {
    text-align: left;
  }
  .subtitle {
    text-align: center;
    color: $color_red;
    margin-bottom: 50px;
  }
  a[href^="mailto:"] {
    color: $color_black;
  }
  .name {
    font-weight: bold;
  }
  @include bp(mobile) {
    padding-bottom: $space1;
    margin-bottom: $space1;
    border-bottom: 1px solid #CCC;
    .testimony, .address {
      text-align: center;
    }
  }
}

.mi-row-equal-height {
  display: table;
  .mi-panel {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

.mi-bgrubin {
  height:460px;
  background: url("/img/rubin_bg_grau.png") no-repeat center;
  background-size: contain;
  @include bp(mobile) {
    background:none;
    margin-top:$space1;
    &:first-child {
      margin-top:0;
    }
  }
  .rubin-inside {
    @include bp(mobile) {
      background-color:$color_light_grey;
      padding-bottom:10px;
    }
    padding-top: 20px;
  }
}


.mi-job {
  font-weight: bold;
}

.mi-feature {
  padding: $space1 0;
  h3 {
    font-size: em(36);
    color: $color_black;
  }
  li {
    display: block;
    list-style-type: none;
    margin-bottom: 7px;
  }
  ul > li:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 5px;
    margin-left: -17px;
  }
}

// FORMS:

input[type="text"], textarea, textarea.form-control {
  border-radius: 0;
  background-color: #E6E6E6;
  width: 100%;
}

.btn-primary {
  background-color: $color_red;
  background-image: none;
  border-color: $color_red;
  &:hover {
    background-color: lighten($color_red, 5%);
    background-image: none;
    border-color: lighten($color_red, 5%);
  }
}

.form-control:focus {
  border-color: $color_red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.dev1 {
  background-color: #2aabd2;
  border: 1px solid #2b669a;
}

.devborder1 {
  border: 1px solid green;
}

.devborder2 {
  border: 1px solid yellow;
}
