@import "mi_mixins";

$color_white: #FFFFFF;
$color_black: #2F312F;
$color_red: #bd1111;

body {
  font-size: 16px;
  background-color: $color_white;
  color: $color_black;
  font-family: 'Source Sans Pro', sans-serif;
}

.font-ropa {
  font-family: 'Ropa Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-ropa;
  font-weight: normal;
}

h1 {
  font-size: emCalc(36);
}

section {
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
  img {
    display: table;
    margin: 0 auto;
  }
}

.spacer1 {
  height: 40px;
}

.spacer2 {
  height: 80px;
}

.redblock {
  padding:0 0 40px 0;
  h1, h2, h3, h4, h5, h6, p, li, a {
    color:$color_white;
  }
  h3 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: em(36);
  }
  background-color: $color_red;
  li {
    display:block;
    list-style-type: none;
    margin-bottom:7px;
  }
  ul:first-child > li:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float:left;
    margin-top: 5px;
    margin-left: -17px;
  }
  ul ul {
    padding-left:10px;
  }
  ul ul > li:before {
    content: "\0b7";
    //font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float:left;
    margin-top: 5px;
    margin-left: -10px;
  }
}

header {
  padding-top: 20px;
  margin-bottom: 10px;
  .inner {
    background-image: url("/img/header_24bit.png");
    background-position: center 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;
    @include bp(mobile) {
      background-position: center 90px;
      background-size: cover;
      height: 260px;
    }
  }
  .logo {
    h1 {
      margin: 0;
      line-height: 0;
    }
    @include bp(mobile) {
      img {
        display: table;
        margin: 0 auto;
      }
    }
  }
  .slogan {
    h2 {
      padding-top: 70px;
      font-size: 36px;
      text-transform: uppercase;
      hyphens: auto;
      color: $color_white;
      width: 330px;
      @include bp(mobile) {
        padding-top: 80px;
        display: block;
        margin: 0px auto;
        font-size: em(32);
        text-align: center;
      }
    }
  }
}

section {
  padding: 10px 0;
}

h2.sectiontitle {
  font-size: em(36);
  color: $color_red;
  padding-bottom: 60px;
  text-align: center;
  background-image: url("/img/divider_rubin.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.navbar-nav {
  @extend .font-ropa;
  width: 100%;
  text-align: center;
  a {
    &:hover {
      //text-decoration: underline !important;
      //background-color:transparent !important;
    }
    color: $color_black;
  }
  & > li {
    font-size: 24px;
    text-transform: uppercase;
    float: none;
    display: inline-block;
  }
}

