@import "mi_mixins";

$color_white: #FFFFFF;
$color_black: #2F312F;
$color_red: #bd1111;
$color_light_grey:#E6E6E6;

$space1:40px;

body {
  font-size: 16px;
  background-color: $color_white;
  color: $color_black;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  @include bp(mobile) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.font-ropa {
  font-family: 'Ropa Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-ropa;
  font-weight: normal;
}

h1 {
  font-size: emCalc(36);
}

a {
  color: $color_red;
  &:hover {
    color:lighten($color_red, 5%);
  }
}

header {
  padding-top:20px;
  margin-bottom:10px;
  .inner {
    background-image: url("/img/header_24bit.png");
    background-position: center 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;
    @include bp(mobile) {
      background-position: center 90px;
      background-size: cover;
      height: 260px;
    }
  }
  .logo {
    h1 {
      margin: 0;
      line-height: 0;
    }
    @include bp(mobile) {
      img {
        display: table;
        margin: 0 auto;
      }
    }
  }
  .slogan {
    h2 {
      padding-top: 70px;
      font-size: 36px;
      text-transform: uppercase;
      hyphens: auto;
      color: $color_white;
      width: 330px;
      @include bp(mobile) {
        padding-top: 80px;
        display: block;
        margin: 0px auto;
        font-size: em(32);
        text-align: center;
      }
    }
  }
}

.navbar-nav {
  @extend .font-ropa;
  width: 100%;
  text-align: center;
  a {
    &:hover {
      //text-decoration: underline !important;
      //background-color:transparent !important;
    }
    color: $color_black;
  }
  & > li {
    font-size: 24px;
    text-transform: uppercase;
    float: none;
    display: inline-block;
  }
}

section {
  margin: $space1 0 60px 0;
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
  img {
    display: table;
    margin: 0 auto;
  }
  h2 {
    font-size: em(36);
    color: $color_red;
    padding-bottom: 60px;
    text-align: center;
    background-image: url("/img/divider_rubin.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-bottom: $space1;
  }
  h4 {
    color: $color_red;
    font-size: em(24);
    text-transform: uppercase;
  }
}

.spacer1 {
  height: $space1;
}

.spacer2 {
  height: 80px;
}

.redblock {
  padding: 0 0 $space1 0;
  h1, h2, h3, h4, h5, h6, p, li, a {
    color: $color_white;
  }
  h3 {
    padding:$space1 0;
    font-size: em(36);
  }
  background-color: $color_red;
  li {
    display: block;
    list-style-type: none;
    margin-bottom: 7px;
  }
  ul:first-child > li:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 5px;
    margin-left: -17px;
  }
  ul ul {
    padding-left: 10px;
  }
  ul ul > li:before {
    content: "\0b7";
    font-size: 10px;
    float: left;
    margin-top: 5px;
    margin-left: -10px;
  }
}

.anwender {
  img {
    margin-bottom:$space1;
  }
  p {
    text-align: left;
  }
  .subtitle {
    text-align: center;
    color: $color_red;
    margin-bottom: 50px;
  }
  a[href^="mailto:"] {
    color: $color_black;
  }
  .name {
    font-weight: bold;
  }
  @include bp(mobile) {
    padding-bottom:$space1;
    margin-bottom:$space1;
    border-bottom:1px solid #CCC;
    .testimony, .address {
      text-align: center;
    }
  }
}

.mi-row-equal-height {
  display: table;
  .mi-panel {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

.mi-bgrubin {
  height: 460px;
  background-image: url("/img/rubin_bg_grau.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  .rubin-inside {
    padding-top: 20px;
  }
}

.mi-job {
  font-weight: bold;
}

.mi-feature {
  padding:$space1 0;
  h3 {
    font-size:em(36);
    color:$color_black;
  }
  li {
    display: block;
    list-style-type: none;
    margin-bottom: 7px;
  }
  ul > li:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 5px;
    margin-left: -17px;
  }
}


// FORMS:

input[type="text"], textarea, textarea.form-control {
  border-radius:0;
  background-color:#E6E6E6;
  width:100%;
}


.btn-primary {
  background-color:$color_red;
  background-image: none;
  border-color:$color_red;
  &:hover {
    background-color:lighten($color_red, 5%);
    background-image: none;
    border-color:lighten($color_red, 5%);
  }
}

.form-control:focus {
  border-color:$color_red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


.dev1 {
  background-color: #2aabd2;
  border: 1px solid #2b669a;
}

.devborder1 {
  border: 1px solid green;
}

.devborder2 {
  border: 1px solid yellow;
}
